* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  /* margin: ; */
}

h1 {
  text-align: center;
}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#container {
  width: 600px;
  height: 600px;
  border: 3px gray solid;
  display: flex;
  flex-direction: column;
}

.row-div {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.column-div {
  border: 1px solid #b9b9b923;
  width: 100%;
  height: auto;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.btn {
  display: flex;
  gap: 5px;
}
